[View in Colaboratory](https://colab.research.google.com/github/flocc1352/py-10/blob/master/wk03_list_loop_condition_start_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb)

>>[리스트 사용 (Ch.2-4)](#scrollTo=EKihYieluSqI)

>>>[리스트 정의](#scrollTo=JxLIr8m3uSqK)

>>>[인덱스(index)를 사용하여 리스트의 요소를 추출](#scrollTo=D-Aa6FhiuSqU)

>>>[max & argmax of list](#scrollTo=uZEafcCSuSqb)

>>>[리스트(List)의 연결](#scrollTo=_c0SUx77uSqe)

>>>>[연도별로 온도 변화 그래프 그리기](#scrollTo=3N2ryFrbuSqh)

>>>[리스트(List) 요소의 변경 삭제](#scrollTo=JDIlbq-_uSql)

>>>[슬라이스를 이용하여 여러 요소를 추출](#scrollTo=GuNABnl3uSqr)

>>>[리스트의 리스트 － 2 차원 배열](#scrollTo=7D7xg23huSq3)

>>>[리스트의 합계 최대값, 최소값](#scrollTo=MhM98LgYuSq-)

>>>[리스트의 항목 수를 측정](#scrollTo=gfkoNV6WuSrF)

>>[for문에서 루프를 사용 (Ch.2-5)](#scrollTo=puhHqY1KuSrL)

>>>[range() 함수](#scrollTo=fW0_rAX1uSrT)

>>>[도전코딩-3.](#scrollTo=iTy9YrX1uSrc)

>>[if문에서 조건 분기 (Ch.2-6)](#scrollTo=ppfezxqCuSrd)

>>>[수치를 비교](#scrollTo=1DT1xTleuSrg)

>>>[문자열을 비교](#scrollTo=h7wd98dAuSro)

>>>[문자열을 검색](#scrollTo=FSMkcwRbuSrq)

>>>[리스트를 비교](#scrollTo=_DB3rKNjuSrs)

>>>[리스트의 요소를 검색](#scrollTo=qvIZhwZFuSrt)

>>>[else문을 사용](#scrollTo=FgEZ_MNUuSrx)

>>>[elif문의 사용](#scrollTo=Ym9_SmvZuSr0)

>>[함수를 사용 (Ch.2-7)](#scrollTo=QxFYvdFIuSr4)

>>>[함수란](#scrollTo=9kkeEPecuSr5)

>>>[도전코딩 4.](#scrollTo=UD8A9C2ouSr9)

>>>[함수를 호출](#scrollTo=OX87CCUwuSr9)

>>>[함수의 인수](#scrollTo=5VNVVRAXuSsA)

>>>[함수의 정의](#scrollTo=leLfeXuUuSsE)

>>>[인수 (매개변수)를 정의](#scrollTo=haK4RB7wuSsG)

>>>[함수의 반환값](#scrollTo=mUfL3t5KuSsN)

>>>[지역 변수](#scrollTo=mMp4ENsGuSsP)

>>>[반복 사용하는 코드를 함수로 정리](#scrollTo=5YGgnFzYuSsQ)

>>[모듈 사용 (Ch.2-8)](#scrollTo=QHo3Cqk7uSsV)

>>>[모듈 import (가져 오기)](#scrollTo=1F8Ml35suSsV)

>>>[import ~ as ~](#scrollTo=Pd2IhW2MuSsX)

>>>[from을 사용한 import](#scrollTo=4E76aq4cuSsZ)

>>>[도전코딩 5. 모듈사용](#scrollTo=_4tR2n8kuSsb)

## 리스트 사용 (Ch.2-4)

### 리스트 정의

In [0]:
# 도쿄의 낮 평균 기온 (1950년부터 2000년까지)
# 변수 리스트를 할당
tokyo_temps = [15.1, 15.4, 15.2, 15.4, 17.0, 16.9]

In [0]:
# 그래프의 표시 준비
%matplotlib inline
import matplotlib.pyplot as plt

In [0]:
# 그래프의 표시
plt.plot(tokyo_temps, 'g*-', ms=15)

### 인덱스(index)를 사용하여 리스트의 요소를 추출

In [0]:
tokyo_temps[0]   # 1950년의 평균 기온

In [0]:
# 2000년까지 50년 평균 기온이 몇도 올랐는지 계산
# 리스트 요소의 뺄셈
tokyo_temps[5]-tokyo_temps[0]

계산 결과가 1.8이 되지 않는 것이 이상한 사람은 다음을 참고[기사](http://web.archive.org/web/20160506221107/http://pc.nikkeibp.co.jp/pc21/special/gosa/eg4.shtml)

또한 (파이썬에서 클래를 사용)에도 쉽게 설명하고 있다

In [0]:
# 인덱스에 -1을 주고 같은 온도 차이를 계산
# 리스트의 마지막 요소를 지정
tokyo_temps[-1]-tokyo_temps[0]

### max & argmax of list

In [0]:
import numpy as np
max(tokyo_temps),np.argmax(tokyo_temps)

### 리스트(List)의 연결

In [1]:
# 리스트에 1900년부터 1940년의 평균 기온 추가
# 리스트의 덧셈
e_tokyo_temps = [13.6, 13.5, 14.2, 14.8, 14.8]
tokyo_temps2 = e_tokyo_temps+tokyo_temps

NameError: ignored

In [0]:
# 그래프의 표시
plt.plot(tokyo_temps2,'r*-',ms=12)

#### 연도별로 온도 변화 그래프 그리기

In [0]:
year = range(1900,2010,10)
year

In [0]:
plt.plot(year,tokyo_temps2,'b*-',ms=12)

### 리스트(List) 요소의 변경 삭제

In [0]:
# 문자열의 리스트를 정의하고 내용보기
# 리스트 "mcz" 만들기
mcz = ["AB", "CD", "EF", "GH", "IJ", "KL"]
mcz

In [0]:
# 여섯 번째[5] 요소를 다시 작성
mcz[5] = 'ZY'
mcz                 # 변경 후 리스트 확인

In [0]:
# 요소의 제거
del mcz[0]
mcz            # 변경 후 리스트 확인

### 슬라이스를 이용하여 여러 요소를 추출

In [0]:
# 인덱스 1부터 2까지의 요소를 슬라이스로 검색
# 슬라이스의 사용 예
lst1 = mcz[1:3]
lst1

In [0]:
# 슬라이스 왼쪽 인덱스를 생략하면 처음부터 추출
# 슬라이스의 사용 예
mcz[:2]

In [0]:
# 오른쪽 인덱스를 생략하면 마지막까지 추출
# 슬라이스의 사용 예
mcz[1:]

In [0]:
mcz[-1]

In [0]:
mcz[:-1]

### 리스트의 리스트 － 2 차원 배열


|도시 이름/년|1930|1940|1950|1960|1970|1980|1990|2000|
|-----|----|----|----|----|----|----|----|----|
|도쿄도|14.8|14.8|15.1|15.4|15.2|15.4|17.0|16.9|
|아키타시|10.0|10.4|11.5|11.2|10.9|10.6|11.8|12.2|
|구마모토시|16.0|15.5|15.9|16.4|15.9|15.6|17.5|17.1|

In [0]:
# 각 도시의 평균 기온 리스트
city_temps = [
#도쿄의 평균 기온
[14.8, 14.8, 15.1, 15.4, 15.2, 15.4, 17.0, 16.9],
#아키타시의 평균 기온
[10.0, 10.4, 11.5, 11.2, 10.9, 10.6, 11.8, 12.2],
#구마모토시의 평균 기온
[16.0, 15.5, 15.9, 16.4, 15.9, 15.6, 17.5, 17.1]
]

In [0]:
# 아키타시의 평균 기온 리스트 보기
city_temps[1]

In [0]:
# 평균 기온 비교
city_temps[2][7]- city_temps[2][0]

In [0]:
# 3개 도시의 평균 기온 그래프 그리기
plt.plot(city_temps[0])       # 도쿄도의 그래프 그리기
plt.plot(city_temps[1])       # 아키타시의 그래프 그리기
plt.plot(city_temps[2])       # 구마모토시의 그래프 그리기
# 그래프의 선색과 마커를 변경하시오.

### 리스트의 합계 최대값, 최소값

In [3]:
monk_fish_team = [158, 157, 163, 157, 145]
sum(monk_fish_team)   # 리스트의 합계를 계산

780

In [4]:
max(monk_fish_team)   # 최대 값 계산

163

In [5]:
min(monk_fish_team)   # 최소 값 계산

145

> 최소, 최대값의 인수를 구하시오.

### 리스트의 항목 수를 측정

In [6]:
len(monk_fish_team)   # 리스트의 길이(항목 수)를 조사

5

In [7]:
# 합계, 리스트 길이의 응용 - 평균을 계산
monk_sum = sum(monk_fish_team)    # 합계를 계산
monk_len = len(monk_fish_team)    # 길이를 측정
monk_mean = monk_sum/monk_len     # 평균을 계산
monk_mean

156.0

In [9]:
# 신장 그래프를 그리기

plt.bar([0, 1, 2, 3, 4], monk_fish_team)
# plt.plot([0, len(monk_fish_team)], [monk_mean, monk_mean], color='red')

NameError: ignored

## for문에서 루프를 사용 (Ch.2-5)

In [2]:
# for문 루프를 사용하여 리스트의 요소를 하나씩 보기
mcz = ['AB', 'CD', 'EF', 'GH', 'IJ']
for member in mcz:
    print(member)

AB
CD
EF
GH
IJ

In [0]:
# 루프가 끝난 후에도 리스트의 내용이 바뀌지 않았는지 확인
mcz

In [0]:
# for문을 사용하여 분산을 계산
# 몽크 피시 팀
monk_fish_team = [158, 157, 163, 157, 145]

total = sum(monk_fish_team)    # 리스트의 합계
length = len(monk_fish_team)   # 리스트의 요소 수(길이)
mean = total/length            # 평균을 구함
variance = 0                   # 분산을 계산하기 위한 변수

for height in monk_fish_team:
    variance = variance+(height-mean)**2 # 키에서 평균을 빼고 제곱한 수를 더함

variance = variance/length     # 더한 수치를 요소 수로 나누어 분산을 구함 length -> length-1
variance

In [0]:
# 분산의 루트를 계산하고 표준 편차를 계산
variance**0.5, round(variance**0.5,1)

In [0]:
# 다른 리스트에서 표준 편차를 계산
# 발리볼 팀
volleyball_team = [143, 167, 170, 165]

total2 = sum(volleyball_team)    # 리스트의 합계
length2 = len(volleyball_team)   # 리스트의 요소 수(길이)
mean2 = total2/length2           # 평균을 구함
variance2 = 0                    # 분산을 계산하기 위한 변수

for height in volleyball_team:
    variance2 = variance2+(height-mean2)**2 # 신장에서 평균을 빼고 제곱한 수를 더함

variance2 = variance2/length2  # 더한 수치를 요소 수로 나누어 분산을 구함
variance2,variance2**0.5

### range() 함수

In [10]:
a10 = range(10)
type(a10)

range

In [11]:
a10[0],a10[1],a10[9]

(0, 1, 9)

In [0]:
# range를 리스트로 변환
list(a10)

In [12]:
# range()를 사용하여 0에서 9까지 표시
for cnt in range(10):
    print(cnt)

0
1
2
3
4
5
6
7
8
9

In [13]:
# range()를 사용하여 복리 계산을 함
# 연리 5%의 금융 상품에 100만원 예금하면 15년 후에 얼마인지를 계산
savings = 100               # 원금
for i in range(15):         # 15년 반복 루프
    savings = savings+savings*0.05   

savings

207.89281794113666

### 도전코딩-3.

> 그런데 금리 15%로 돈을 빌릴 때 몇 년후에 2배가 될까? 위 코드의 수치를 다시 작성하여 실제로 시험해 본다. (신용 카드 리볼빙 지불에서 상품을 구매하거나 소비자 금융에서 돈을 빌릴 때 금리가 15% 정도 붙는다.)

In [0]:
# 도전코딩-3

## if문에서 조건 분기 (Ch.2-6)

In [15]:
# if문의 예(4개의 2로 10을 만들자)
# 10이 될지 어떨지를 조사
# 조건식이 성립 때만 블록의 print() 함수가 실행된다.

if 2*2*2+2 == 10:
    print("[1]2*2*2+2는 10")
if 2+2*2+2 == 10:
    print("[2]2+2*2+2는 10")
if (2+2)*2+2 == 10:
    print("[3](2+2)*2+2는 10")

[1]2*2*2+2는 10
[3](2+2)*2+2는 10

### 수치를 비교

In [16]:
# 조건식이 성립 때만 블록의 print() 함수가 실행된다
if 1 == 1:
    print("첫째는 True")
if 5^(4-4)+9 == 10:  # 10, 12, 14
    print("2번째는 True")
if 2 < len([0, 1, 2]):
    print("3번째는 True")
if sum([1, 2, 3, 4]) <= 10:
    print("4번째는 True")

첫째는 True
3번째는 True
4번째는 True

In [17]:
5^(4-4) + 9

12

In [18]:
(5^(4-4)) + 9

14

In [19]:
5**(4-4) + 9

10

> 위의 다른 결과를 설명하시오

In [20]:
len([0, 1, 2]),sum([1, 2, 3, 4])

(3, 10)

### 문자열을 비교

In [22]:
# 문장을 비교하는 조건식의 예
if "AUG" == "AUG":
    print("첫째는 True")
if "AUG" == "aug":
    print("2번째는 True")
if "가나다" == "가나다":
    print("3번째는 True")

첫째는 True
3번째는 True

### 문자열을 검색

In [23]:
# in 연산자를 사용한 문자열 검색
if "GAG" in "AUGACGGAGCUU":
    print("첫째는 True")
if "사랑과 전쟁은 모든 것이 정당화되어" in "정당화":
    print("2번째는 True")
if "stumble" in "A horse may stumble though he has four legs":
    print("3번째는 True")

첫째는 True
3번째는 True

### 리스트를 비교

In [0]:
# 리스트를 비교하는 조건식의 예
if [1, 2, 3, 4] == [1, 2, 3, 4]:
    print("첫째는 True")
if [1, 2, 3] == [2, 3]:
    print("2번째는 True")
if [1, 2, 3] == ['1', '2', '3']:
    print("3번째는 True")

### 리스트의 요소를 검색

In [24]:
# 리스트 내의 요소를 알아보는 조건식 사례 1
if 2 in [2, 3, 5, 7, 11]:
    print("첫째는 True")
if 21 in [13, 17, 19, 23, 29]:
    print("2번째는 True")
if '대구' in ['서울', '대구', '부산']:
    print("3번째는 True")

첫째는 True
3번째는 True

In [25]:
# 리스트 내의 요소를 알아보는 조건식 사례 2
# 목록의 비교에서는 in 왼쪽에 리스트가 오는 경우에 주의
if 1 in [0, 1, 2, 3, 4]:
    print("첫째는 True")
if [1, 2] in [0, 1, 2, 3, 4]:
    print("2번째는 True")
if [1, 2] in [0, 1, [1, 2], 3, 4]:
    print("3번째는 True")

첫째는 True
3번째는 True

### else문을 사용

In [26]:
# else문 사용 사례
# 식 1
if 2^3-2+4 == 10:                
    print("식 2^3-2+4는 10")            #식 1의 결과에 따라서 둘 중의 하나가 실행
else:
    print("식  2^3-2+4는 10이 아닙니다")    #식 1의 결과에 따라서 둘 중의 하나가 실행

식  2^3-2+4는 10이 아닙니다

In [27]:
2^3-2+4

7

In [28]:
# 식 2
if 2**3-2+4 == 10:               
    print("식 2**3-2+4는 10")            #식 2의 결과에 따라서 둘 중의 하나가 실행
else:
    print("식 2**3-2+4는 10이 아닙니다")    #식 2의 결과에 따라서 둘 중의 하나가 실행

식 2**3-2+4는 10

### elif문의 사용

In [31]:
# 2중 if문을 사용한 사례
# if를 다단 중첩하면 들여 쓰기가 깊어지고 코드가 어렵게 보인다.
a_year = 2080
if a_year >= 1998:                  # 식 1
    # 출생 연도 또는 그 이후의 경우
    if a_year == 1998:              # 식 2
        print(a_year, "년에 태어남")   # 식 1, 식 2 모두 참일 때 실행
    else:
        print(a_year, "년은 ", a_year-1998, "세")    # 식 1은 참이지만 식 2가 거짓일 때 실행

2080 년은  82 세

In [0]:
# elif문 사용 사례
# elif를 사용하면 동일한 작업을 깔끔하게 할 수 있다.
a_year = 2080
if a_year == 1993:
    print(a_year, "년에 태어남")
elif a_year > 1993:
    print(a_year, "년은 ", a_year-1993, "세")

In [0]:
# for문으로 if문을 조합한 사례
# a_num가 소수의 경우에는 아무것도 표시되지 않는다.
# 소수가 아닌 때에는 소수가 아니란 것을 표시한다.

# a_num에 대입하는 수치를 바꾸어 셀을 실행하면 다양한 숫자에 대한
# 소수 여부를 확인할 수 있다.

a_num = 57            # 소수인지 알아보는 수
for num in range(2, a_num):  # 2부터 a_num-1까지 반복
    if a_num % num == 0:     # a_num을 num으로 나누어지는지 확인
        print(a_num, "은(는) 소수가 아닙니다.")
        break

## 함수를 사용 (Ch.2-7)

### 함수란

In [32]:
# 리스트의 값을 합하는 프로그램
the_list = [101, 123, 152, 123]
summary = 0                 # 합계를 위한 변수를 만듦
for item in the_list:       # 리스트로 루프를 적용
    summary = summary+item  # 리스트의 요소를 합계

summary                     # 합계를 표시

499

In [33]:
sum(the_list)  # 함수 sum()을 사용하는 것이 간단하고 쉽다.

499

### 도전코딩 4.

> range() 함수를 이용해서 1에서 100까지의 합을 구하시오.

In [0]:
# range() 함수를 이용: 1에서 100까지의 합

### 함수를 호출

In [0]:
# abs() 함수의 실행 사례
abs(-10)    # 절대값을 반환하는 함수를 호출

In [35]:
# abs() 함수의 실행 사례
abs(-200.37)

200.37

### 함수의 인수

In [36]:
# int() 함수의 실행 사례
int("100")              # 문자열을 10진수의 수치로 변환

100

In [37]:
# int() 함수의 실행 사례
# 인수가 같은 함수에서도 동작이 바뀐다.
int("100", 2)           # 문자열을 2진수의 수치에 만들어 변환

4

In [38]:
# int() 함수의 실행 사례
int("100", 16)          # 문자열을 16진수의 수치에 만들어 변환

256

### 함수의 정의

In [0]:
# destiny_tank() 함수의 정의
def destiny_tank():
    tanks = ["IV호 전차 D형", "III호 전차 J형", "처칠 Mk.VII",
             "M4 셔먼", "P40 중전차", "T-34/76"]  # 전차의 리스트
    num = input("좋아하는 숫자를 입력하세요:")         #숫자를 입력
    idx = int(num) % len(tanks)        # 입력값을 리스트의 인수로 변환
    print("당신의 운명의 전차는 ")
    print(tanks[idx])                  # 결과를 표시

In [41]:
# 함수를 호출하면 양식이 나타난다.
# 폼에 숫자를 입력하고 리턴을 누르면
# 운명의 전차가 나타난다.
destiny_tank()

좋아하는 숫자를 입력하세요:11
당신의 운명의 전차는
T-34/76

### 인수 (매개변수)를 정의

In [0]:
# 인수를 갖는 함수의 정의
def destiny_tank2(num):
    tanks = ["IV호 전차 D형", "III호 전차 J형", "처칠 Mk.VII",
             "M4 셔먼", "P40 중전차", "T-34/76"]  # 전차의 리스트
    idx = num % len(tanks)             # 입력값을 리스트의 인수로 변환
    print("당신의 운명의 전차는 ")
    print(tanks[idx])                  # 결과를 표시

In [43]:
# destiny_tank2() 함수의 실행 사례
# 인수를 주고 함수를 호출
num_str = input("좋아하는 숫자를 입력하세요:")    # 입력 윈도우를 표시
num = int(num_str)                         # 문자열을 수치로 변환
destiny_tank2(num)                         # 수치를 함수에 전달

좋아하는 숫자를 입력하세요:11
당신의 운명의 전차는
T-34/76

In [44]:
# 랜덤한 결과를 되돌려 줌
# 난수를 사용하여 운명의 전차 추천 받기
from random import randint
num = randint(0, 10)        # 난수를 생성
destiny_tank2(num)          # 생성한 난수를 함수에 전달

당신의 운명의 전차는
III호 전차 J형

### 함수의 반환값

In [0]:
# 반환값을 갖는 함수의 정의
# 행운의 전차 반환값으로 결과를 반환
def destiny_tank3(num):
    tanks = ["IV호 전차 D형", "III호 전차 J형", "처칠 Mk.VII",
             "M4 셔먼", "P40 중전차", "T-34/76"]  # 전차의 리스트
    idx = num % len(tanks)             # 입력값을 리스트의 인수로 변환
    return tanks[idx]                  # 결과를 반환값으로 되돌려 줌

In [46]:
# destiny_tank3() 함수의 실행 사례
# 반환값으로 된 전차 이름을 표시하려면
from random import randint
num = randint(0, 10)
tank = destiny_tank3(num)
print("오늘 당신이 타야 할 행운의 전차는 ", tank, "입니다.")
# print("오늘 당신이 타야 할 행운의 전차는 {}".format(tank), "입니다.")

오늘 당신이 타야 할 행운의 전차는  IV호 전차 D형 입니다.

### 지역 변수

In [0]:
# 지역 변수를 함수의 밖에서 쓰는 경우
def test_func(arg1):
    # 수치의 인수에 100을 더하고 표시하는 함수
    inner_var = 100
    print(arg1+inner_var)

test_func(10)       # 함수를 호출 –110으로 표시된다
print(inner_var)    # 함수 내에서 정의한 변수를 표시(오류가 됨)

### 반복 사용하는 코드를 함수로 정리

In [0]:
# 지역 변수를 함수의 밖에서 쓰는 경우
# 신장 목록에서 분산을 계산했을 때의 코드(길고 같은 처리가 중복 ...)
monk_fish_team = [158, 157, 163, 157, 145]

total = sum(monk_fish_team)    # 리스트의 합계
length = len(monk_fish_team)   # 리스트의 요소 수(길이)
mean = total/length            # 평균을 계산
variance = 0                   # 분산을 계산하기 위한 변수

for height in monk_fish_team:
    variance = variance+(height-mean)**2 # 신장에서 평균을 빼고 제곱을 더함

variance = variance/length     # 더한 수치를 요소 수로 나누어 분산을 구함

volleyball_team = [143, 167, 170, 165]

total2 = sum(volleyball_team)    # 리스트의 합계
length2 = len(volleyball_team)   # 리스트의 요소 수(길이)
mean2 = total2/length2           # 평균을 구함
variance2 = 0                    # 분산을 계산하기 위한 변수

for height in volleyball_team:
    variance2 = variance2+(height-mean)**2 # 신장에서 평균을 빼고 제곱을 더함

variance2 = variance2/length2  # 더한 수치를 요소 수로 나누어 분산을 구함
print(variance, variance2)     # 결과 보기

In [0]:
# calc_variance() 함수의 정의
# 공통 부분을 정리한 함수
def calc_variance(a_list):
    # 분산을 요구하는 함수
    total = sum(a_list)    # 리스트의 합계
    length = len(a_list)   # 리스트의 요소 수(길이)
    mean = total/length    # 평균을 구함
    variance = 0           # 분산을 계산하기 위한 변수

    for item in a_list:
        variance = variance+(item-mean)**2 # 각 항목에서 평균을 빼고 제곱을 더함
    variance = variance/length  # 더한 수치를 요소 수로 나누어 분산을 구함

    return variance     # 요구 분산을 반환값으로 돌려줌

In [0]:
# calc_variance() 함수의 실행 사례
# 함수를 사용하여 분산과 표준 편차를 계산하는
# 리스트를 정의한다
monk_fish_team = [158, 157, 163, 157, 145]
volleyball_team = [143, 167, 170, 165]
pravda_team = [127, 172, 140, 160, 174]

# 분산을 계산하다
monk_team_variance = calc_variance(monk_fish_team)
volley_team_variance = calc_variance(volleyball_team)
pravda_team_variance = calc_variance(pravda_team)

# 표준 편차를 계산하다
print(monk_team_variance**0.5)
print(volley_team_variance**0.5)
print(pravda_team_variance**0.5)

In [0]:
monk_team_variance,volley_team_variance

## 모듈 사용 (Ch.2-8)

### 모듈 import (가져 오기)

In [0]:
# random 모듈의 Import
import random                 # 랜덤 모듈을 읽기

print(random.random())        # 0 < x < 1의 난수를 얻음
print(random.randint(0, 6))   # 0 <= x <= 6의 난수를 얻음
a_list = [0, 1, 2, 3, 4, 5]
random.shuffle(a_list)        # 리스트를 임의로 교체
print(a_list)
print(random.choice(a_list))  # 리스트의 요소를 1개 랜덤으로 선택

### import ~ as ~

In [0]:
# plt라는 이름으로 matplotlib.pyplot import하기
import matplotlib.pyplot as plt  

# 그래프를 표시하기 위한 선언문
%matplotlib inline

pravda_team = [127, 172, 140, 160, 174]
plt.bar([1, 2, 3, 4, 5], pravda_team)  # plt를 사용하여 그래프를 그림

### from을 사용한 import

In [0]:
# median() 함수의 import
# statistics 모듈의 median 함수를 사용하여 평균을 계산
from statistics import median

monk_fish_team = [158, 157, 163, 157, 145]
volleyball_team = [143, 167, 170, 165]
print(median(monk_fish_team))    # 함수 이름만 불러낼 수 있음
print(median(volleyball_team))   # 함수 이름만 불러낼 수 있음

### 도전코딩 5. 모듈사용

> var()함수를 import하여 monk_fish_tea과 volleyball_team의 variance를 구하시오.

In [0]:
import numpy as np
np.var(monk_fish_team),np.var(volleyball_team)